html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #ccc;
}

h1, blockquote, summary {
	text-align: center;
}

body {
	max-width: 1000px;
	margin: auto;
	background-color: white;
	padding: 20px 20px;
	position: relative;
	z-index: -2;
}

iframe {
	border: none;
}

hr {
	border: none;
	border-bottom: 1px solid #777;
}

summary {
	user-select: none;
	cursor: pointer;
}

#backlink {
	position: absolute;
	left: 50px;
	top: 50px;
}

img {
	width: 100%;
}

footer {
	font-style: italic;
	text-align: center;
	color: #777;
}